<h1>Change Goal</h1>
<%= form_for @daily, class: "form-inline" do |f| %>

  <div class="form-group">
    <%= f.label :goal %>
    <%= f.text_field :goal, required: true, class: "form-control" %>
  </div>
  <%= f.submit "Edit Goal", class: "btn btn-primary" %>
<% end %>
